.navbar{
    font-size: 24px;
    font-family: 'Vollkorn SC', serif;
    background-image: url("../images/snowanimation.gif");
}

body{
    background-image: url("../images/sitebackground.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer{
    background-color: rgb(122, 118, 118);
    text-align: center;
    margin-top: auto;
    background-image: url("../images/snowanimation.gif");
}

.pageheader{
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
}

.copyright{
    color: white;
    font-family: 'Vollkorn SC', serif;
}

.sectionHeader{
    font-size: 24px;
    font-family: 'Bungee Shade', serif;
    text-align: center;
    background-color: black;
    color: black;
}

.scrollbar {
    width: 700px;
    height: 700px;
    overflow: scroll;
  }

.connect {
    background-image: url("../images/snowanimation.gif");
}

.jumbotron{
    text-align: center;
    background-image: url("../images/sitebackground.png");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Caladea', serif;
}

.indexBody{
    text-align: center;
    background-image: url("../images/carbon-fiber.jpg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.horizon{
    text-align: center;
    background-image: url("../images/sitebackground.png");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.cardFont{
    font-size: 24px;
  font-family: 'Caladea', serif;
}

.portfolio{
    text-align: center;
}

.burgerImgSize{
  width: 500px;
  height: 400px;
  margin: auto;
}

.oclockImgSize{
  width: 600px;
  height: 400px;
  margin: auto;
}

.breakingBreadImgSize{
  width: 800px;
  height: 400px;
  margin: auto;
}

.logoFormat{
  height: 50px;
  width: 50px;
}

.brickBack {
  background-image: url("../images/brickwallheader.png");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.portWording {
  font-family: 'Caladea', serif;
  text-align: center;
}

